.background {
  background-color: blueviolet;
}
.btn:hover {
  background-color: rgb(109, 9, 202);
}

.card-title {
  height: 100px;
}
.card-text {
  height: 200px;
}

.card-source {
  background-color: rgb(232, 232, 149);
  padding: 5px;
  font-size: 12px;
  text-align: center;
}
